<header class="cabecalho">
    <nav class="cabecalho__menu">
        <a class="cabecalho_menu_link" href="/">Home</a>
        <a class="cabecalho_menu_link" href="sobre">Sobre o Lagoa Viva</a>
        <a class="cabecalho_menu_link" href="formulario"> Currículo</a>
        <a class="cabecalho_menu_link" href="cidades">Cidades</a>
    </nav>
</header>