.cidades__topicos{
    padding: 30%;
}

.seta:hover {
    cursor: pointer;
}
/*//TAG <P>--ANIMAÇÃO//*/
#minhaDiv {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    display: none;
  }
  
  #minhaDiv.mostrar {
    opacity: 1;
  }
  
  #minhaDiv.esconder {
    opacity: 0;
  }

/*//CONTAINER//*/
.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 20px;
    height: 150;
    border-radius: 10px;
    background-color: #ecebeb;
  }
  
  
  .box {
    background-color: #eeeded;
    padding: 20px;
  }

  .container .box li {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 75px;
    margin-bottom: 10px;
    text-align: center;
  }

  .container .box h3 {
    text-align: center;
  }

  /*//CONTEUDO//*/

  #dataAtual {
    color: var(--cor-terciaria)
  }

  .container .box h3 {
    color: var(--cor-terciaria)
  }


/*Mudei cidades */


  .apresentacao__conteudo__sugestoes{
    font-size: 1em;
  }
  
  .icone::before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }
