<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao_conteudo_titulo">Cidades</h1>
        <ul style="list-style-type:disc">
            <li class="seta" onclick="toggleDiv()">
                <a class="apresentacao__conteudo__sugestoes">Linha 3001- Lagoinha de Fora / Santos Dumont (atende Ovídeo
                    Guerra)</a>
            </li>
        </ul>
        <div id="minhaDiv" class="container">
            <div class="box">
                <h3>Tarifa: R$ 5,60</h3>

                <p id="dataAtual"></p>

                <ul id="horarios">
                    
                </ul>

            </div>

        </div>

    </section>
    <img src="/img/onibus.jpg" alt="Ônibus">
</main>

<script defer src="/scripts/cidade.js"></script>