
    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao_conteudo_titulo">Cidades</h1>
            <ul style="list-style-type:disc">
                <li type="button" id="seta_function" class="seta">
                    <a class="apresentacao__conteudo__sugestoes">Linha 3001- Lagoinha de Fora / Santos Dumont (atende Ovídeo Guerra)</a>
                </li>
            </ul>
                    
        </section>
        <img src="/img/onibus.jpg" alt="Ônibus">
    </main>

    <script src="/scripts/cidade.js"></script>