<main class="apresentacao">
            <section class="apresentacao__conteudo">
                <h1 class="apresentacao_conteudo_titulo">Horários Lagoa Viva<strong class="titulo-destaque"> em Lagoa Santa!</strong></h1>
                <p class="apresentacao_conteudo_paragrafo">Olá! Estamos preocupados com o seu servico de transporte público e com base nisso nós da TRANSLAGO criamos este site que ajuda-rá você a ficar alerta sobre o transporte pùblico de LS-MG. Vamos conversar?</p>
                <div class="apresentacao__links">
                    <h2 class="apresentacao_links_subtitulo">Acesse as redes<strong class="redes__sociais"> para ficar atento as principais informacões!!</strong> </h2>
                    <a class="apresentacao__butao" href="https://www.instagram.com/vetornortenotcias/" target="blank">
                        <img src="https://raw.githubusercontent.com/alura-cursos/Assets-aula2-curso3-html-e-css/main/assets/instagram.png" alt="instagram">Instagram  
                    </a>
                   
                    <a class="apresentacao__butao" href="https://twitter.com/vetornortenews" target="blank">
                        <img src="https://raw.githubusercontent.com/alura-cursos/Assets-aula2-curso3-html-e-css/main/assets/twitter.png" alt="Twitter">Twitter
                    </a>
                </div>
            </section>
                <img src="/img/onibus.jpg" alt="Ônibus" class="onibus">
        </main>