
    <main class="apresentacao">
        <section class="apresentacao__conteudo">
          <h1 class="apresentacao_conteudo_titulo">Sobre o Lagoa Viva</h1>  
            <p class="apresentacao_conteudo_paragrafo">
                A Lagoa Viva é um operador de serviço de transporte público responsável pelas rotas de Ônibus de Belo Horizonte e Região. Contém 11 rotas de Ônibus em Belo HorizonteeRegião e 307 paradas de Ônibus.
            </p>

            <p class="apresentacao_conteudo_paragrafo">    
                As rotas de Ônibus cobrem uma área ao norte (Lagoa Santa) na estação Rua Do Sumidouro, 660 Zé Da Chácara até uma área ao sul (Lagoa Santa) na estação Rua Joaquim Hilario Da Costa, 93. A estação no extremo oeste é a Rua Arthur Roberto De Paula, 59 (Lagoa Santa) e a do extremo leste é a Rua João Da Costa, 273 (Lagoa Santa).
            </p>
            <ul style="list-style-type:disc">
                <li>
                    <h1 class="apresentacao_conteudo_titulo">sugestões</h1>
                </li>
            </ul>
                <p class="apresentacao__conteudo__sugestoes">Como melhorar o serviço de transporte público ? </p>   
                
                
    <div class="mensagem-box">  

        <form class="form-mensagem">

            <label for="" class="mensagem-email">
                E-mail <input type="email" placeholder="Digite aqui seu e-mail">
            </label><br><br>
            <label class="mensagem-nome">
                 Nome: <input type="text" placeholder="Digite seu nome"> 
            </label><br><br>
            <input type="text" name="info" placeholder="Escreva aqui" id="input-text"/>

        

        </form>

    </div>
        </section>
            <img src="/img/onibus.jpg" alt="Ônibus" class="onibus">
    </main>


<!--Caio faz um outro .html para horario de onibus esssas coisas tlg ?
Ai coloca la os negocios, sobre o horario, linha. Tipo este site aqui (https://www.lagoasanta.mg.gov.br/index.php/cidadao/horarios-de-onibus) mas bem melhor neh kkkk. enfim mas fiz oque tu pediu so falta linkar os negocio do form ao banco de dados mas ainda to dando uma estudada nessa area logo logo estarei fazendo-->